/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 50px;
}

td.first-column {
	width: 25%;
}

.glossary-term {
	margin-top: 30px;
}

dt {
	font-weight: bold;
}

form input[type='text'] {
  width: 600px;
}

form textarea {
	width: 600px;
	height: 200px;
}

.checkbox_container input {
  display: inline;
 }

.actions {
	margin-top: 10px;
}

.block {
	display: block;
}

.left-col {
	float: left;
	width: 40%;
}

.right-col {
	float: right;
	width: 40%;
	padding-bottom: 50px;
}

.nav-links {
	float: left;
}